In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_dataset.csv')
df.head()

,filename,timestamp,year_sine,day_sine,moon_phase,basin,name,lat,lon,estimated_central_pressure,...,wv_x_5,wv_y_5,wv_x_6,wv_y_6,wv_x_7,wv_y_7,wv_x_8,wv_y_8,dx,dy
0,20070601180000,2007-06-01 18:00:00,0.516062,-1.000000e+00,-0.140464,ARB,GONU,15.0,68.0,1002.0,...,2.360240,5.985613,1.924336,-0.329804,2.562395,-7.041283,3.698475,-12.136565,NaN,NaN
1,20070601210000,2007-06-01 21:00:00,0.516062,-7.071068e-01,-0.165288,ARB,GONU,15.0,68.0,1002.0,...,1.036012,7.768498,2.398889,0.530154,4.692244,-6.084256,2.426826,-10.665859,0.0,0.0
2,20070602120000,2007-06-02 12:00:00,0.501242,-3.216245e-16,-0.288233,ARB,GONU,15.0,67.0,992.0,...,1.623776,2.095300,0.831110,3.022181,1.514332,2.436153,5.764182,-3.581330,0.0,-1.0
3,20070602150000,2007-06-02 15:00:00,0.501242,-7.071068e-01,-0.312472,ARB,GONU,15.0,67.0,992.0,...,2.881186,4.514999,2.014203,5.649739,3.489846,3.126783,5.911513,-3.851261,0.0,0.0
4,20070602180000,2007-06-02 18:00:00,0.501242,-1.000000e+00,-0.336556,ARB,GONU,15.0,67.0,992.0,...,3.388550,5.808276,3.300183,3.498281,4.186034,-1.365116,6.852615,-4.007970,0.0,0.0

In [3]:
cyclones = df.name.unique()
cyclones

array(['GONU', 'YEMYIN', 'SIDR', 'NARGIS', 'BIJLI', 'AILA', 'PHYAN',
       'WARD', 'LAILA', 'GIRI', 'JAL', 'KEILA', 'THANE', 'MURJAN',
       'NILAM', 'VIYARU', 'PHAILIN', 'HELEN', 'NANAUK', 'HUDHUD',
       'NILOFAR', 'ASHOBAA', 'KOMEN', 'CHAPALA', 'MEGH', 'ROANU', 'KYANT',
       'NADA', 'VARDAH'], dtype=object)

In [6]:
!mkdir cyclones

In [7]:
for cyclone in cyclones:
    new_df = df[df.name == cyclone]
    new_df.to_csv(f'cyclones/{cyclone}.csv', index=False)