In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_dataset.csv')
df.head()

,filename,timestamp,year_sine,day_sine,moon_phase,basin,name,lat,lon,estimated_central_pressure,...,wv_x_5,wv_y_5,wv_x_6,wv_y_6,wv_x_7,wv_y_7,wv_x_8,wv_y_8,dx,dy
0,20070601180000,2007-06-01 18:00:00,0.516062,-1.000000e+00,-0.140464,ARB,GONU,15.0,68.0,1002.0,...,2.360240,5.985613,1.924336,-0.329804,2.562395,-7.041283,3.698475,-12.136565,NaN,NaN
1,20070601210000,2007-06-01 21:00:00,0.516062,-7.071068e-01,-0.165288,ARB,GONU,15.0,68.0,1002.0,...,1.036012,7.768498,2.398889,0.530154,4.692244,-6.084256,2.426826,-10.665859,0.0,0.0
2,20070602120000,2007-06-02 12:00:00,0.501242,-3.216245e-16,-0.288233,ARB,GONU,15.0,67.0,992.0,...,1.623776,2.095300,0.831110,3.022181,1.514332,2.436153,5.764182,-3.581330,0.0,-1.0
3,20070602150000,2007-06-02 15:00:00,0.501242,-7.071068e-01,-0.312472,ARB,GONU,15.0,67.0,992.0,...,2.881186,4.514999,2.014203,5.649739,3.489846,3.126783,5.911513,-3.851261,0.0,0.0
4,20070602180000,2007-06-02 18:00:00,0.501242,-1.000000e+00,-0.336556,ARB,GONU,15.0,67.0,992.0,...,3.388550,5.808276,3.300183,3.498281,4.186034,-1.365116,6.852615,-4.007970,0.0,0.0

In [3]:
cyclones = df.name.unique()
cyclones

array(['GONU', 'YEMYIN', 'SIDR', 'NARGIS', 'BIJLI', 'AILA', 'PHYAN',
       'WARD', 'LAILA', 'GIRI', 'JAL', 'KEILA', 'THANE', 'MURJAN',
       'NILAM', 'VIYARU', 'PHAILIN', 'HELEN', 'NANAUK', 'HUDHUD',
       'NILOFAR', 'ASHOBAA', 'KOMEN', 'CHAPALA', 'MEGH', 'ROANU', 'KYANT',
       'NADA', 'VARDAH'], dtype=object)

In [6]:
!mkdir cyclones

In [7]:
for cyclone in cyclones:
    new_df = df[df.name == cyclone]
    new_df.to_csv(f'cyclones/{cyclone}.csv', index=False)

In [52]:
foo = '''
filename	lat	lat-pred	lon	lon-pred
20161211150000	13.3	13.29628968	82.5	82.12603706
20161208180000	11.8	12.05135000	90.5	90.37264683
20161206180000	9.5	9.85893825	90.5	90.34339135
20161209150000	12.2	12.25024698	89.9	89.72631913
20161210180000	13.3	13.38830317	85.3	84.81995484
20161209180000	12.3	12.55552532	89.6	89.38258952
20161207120000	10.0	10.59207040	90.5	90.08543794
20161208150000	11.7	11.85018825	90.5	90.36329667
20161212150000	12.9	12.89474714	79.5	79.14482325
20161209120000	12.2	12.69104397	90.0	89.29607421
20161207180000	10.8	11.28230111	90.5	90.37556548
20161208120000	11.7	12.40336357	90.5	90.15933079
20161211120000	13.3	13.46567317	83.0	81.51696889
20161212180000	12.7	12.64996856	79.1	78.63623571
20161211210000	13.2	13.18363254	81.9	81.41234587
20161209210000	12.5	12.80443944	89.0	88.63090960
20161211180000	13.1	13.01000619	82.3	81.96246310
20161212120000	13.0	13.02896579	79.9	78.72375556
20161208210000	12.0	12.29353373	90.5	90.42026365
20161210210000	13.3	13.33280778	85.0	84.56858460
20161210120000	13.2	13.89659238	86.4	84.86930556'''

foo

'\nfilename\tlat\tlat-pred\tlon\tlon-pred\n20161211150000\t13.3\t13.29628968\t82.5\t82.12603706\n20161208180000\t11.8\t12.05135000\t90.5\t90.37264683\n20161206180000\t9.5\t9.85893825\t90.5\t90.34339135\n20161209150000\t12.2\t12.25024698\t89.9\t89.72631913\n20161210180000\t13.3\t13.38830317\t85.3\t84.81995484\n20161209180000\t12.3\t12.55552532\t89.6\t89.38258952\n20161207120000\t10.0\t10.59207040\t90.5\t90.08543794\n20161208150000\t11.7\t11.85018825\t90.5\t90.36329667\n20161212150000\t12.9\t12.89474714\t79.5\t79.14482325\n20161209120000\t12.2\t12.69104397\t90.0\t89.29607421\n20161207180000\t10.8\t11.28230111\t90.5\t90.37556548\n20161208120000\t11.7\t12.40336357\t90.5\t90.15933079\n20161211120000\t13.3\t13.46567317\t83.0\t81.51696889\n20161212180000\t12.7\t12.64996856\t79.1\t78.63623571\n20161211210000\t13.2\t13.18363254\t81.9\t81.41234587\n20161209210000\t12.5\t12.80443944\t89.0\t88.63090960\n20161211180000\t13.1\t13.01000619\t82.3\t81.96246310\n20161212120000\t13.0\t13.02896579\t79.9\t78.72375556\n20161208210000\t12.0\t12.29353373\t90.5\t90.42026365\n20161210210000\t13.3\t13.33280778\t85.0\t84.56858460\n20161210120000\t13.2\t13.89659238\t86.4\t84.86930556'

In [53]:
import pandas as pd
from io import StringIO

In [54]:
buf = StringIO(foo)
df = pd.read_csv(buf, sep='\t')
df = df.sort_values('filename')

In [55]:
df.shape

(21, 5)

In [56]:
for row in range(1, df.shape[0]):
    f = df.iloc[row].values
    print(f"[{f[1]} {f[3]}]")

[10.0 90.5]
[10.8 90.5]
[11.7 90.5]
[11.7 90.5]
[11.8 90.5]
[12.0 90.5]
[12.2 90.0]
[12.2 89.9]
[12.3 89.6]
[12.5 89.0]
[13.2 86.4]
[13.3 85.3]
[13.3 85.0]
[13.3 83.0]
[13.3 82.5]
[13.1 82.3]
[13.2 81.9]
[13.0 79.9]
[12.9 79.5]
[12.7 79.1]

In [57]:
for row in range(1, df.shape[0]):
    f = df.iloc[row].values
    print(f"[{f[2]} {f[4]}]")

[10.5920704 90.08543794]
[11.28230111 90.37556548]
[12.40336357 90.15933079]
[11.85018825 90.36329667]
[12.05135 90.37264683]
[12.29353373 90.42026365]
[12.69104397 89.29607421]
[12.25024698 89.72631913]
[12.55552532 89.38258952]
[12.80443944 88.6309096]
[13.89659238 84.86930556]
[13.38830317 84.81995484]
[13.33280778 84.5685846]
[13.46567317 81.51696889]
[13.29628968 82.12603706]
[13.01000619 81.9624631]
[13.18363254 81.41234587]
[13.02896579 78.72375556]
[12.89474714 79.14482325]
[12.64996856 78.63623571]